@import 'size';

.btn {
    border: none;
    background-color: color(1);
    color: color(2);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;

    @include size(14px, 11px, 37px, 12px, 37px);

    &.medium {
        @include size(18px,14px, 46px, 14px, 46px);
    }

    &.large {
        @include size(26px,24px, 94px, 24px, 94px);
    }

    &.x-large {
        @include size(36px, 28px, 101.5px, 28px, 101.5px);
    }

    &.round {
        $corners: 3, 7, 12, 20;

        @each $corner in $corners {

            &-#{$corner} {
                border-radius: $corner+px;
            }
        }
    }

    &.bg-color {
        @each $ind, $color in $palette {

            &-#{$ind} {
                background-color: $color;
            }
        }
    }

    &:hover {
        background: color(3);
    }
}

.row {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
    margin-left: 50px;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
