@import 'size';

.bg-color {

    &-1 {
        background-color: $color-1;
    }

    &-2 {
        background-color: $color-2;
    }

    &-3 {
        background-color: $color-3;
    }

    &-4 {
        background-color: $color-4;
    }

    &-5 {
        background-color: $color-5;
    }

    &-6 {
        background-color: $color-6;
    }

    &-7 {
        background-color: $color-7;
    }

    &-8 {
        background-color: $color-8;
    }

    &-9 {
        background-color: $color-9;
    }

    &-10 {
        background-color: $color-10;
    }

    &-11 {
        background-color: $color-11;
    }
}

.btn {
    border: none;
    background-color: $color-1;
    color: $color-2;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;

    @include size(14px, 11px, 37px, 12px, 37px);

    &.medium {
        @include size(18px, 14px, 47px, 14px, 47px);
    }

    &.large {
        @include size(26px, 24px, 94px, 24px, 94px);
    }

    &.x-large {
        @include size(36px, 28px, 101.5px, 28px, 101.5px);
    }

    &.round {

        &-3 {
            border-radius: 3px;
        }

        &-7 {
            border-radius: 7px;
        }

        &-12 {
            border-radius: 12px;
        }

        &-20 {
            border-radius: 20px;
        }
    }

    &.bg-color {

        &-1 {
            background-color: $color-1;
        }

        &-2 {
            background-color: $color-2;
        }

        &-3 {
            background-color: $color-3;
        }

        &-4 {
            background-color: $color-4;
        }

        &-5 {
            background-color: $color-5;
        }

        &-6 {
            background-color: $color-6;
        }

        &-7 {
            background-color: $color-7;
        }

        &-8 {
            background-color: $color-8;
        }

        &-9 {
            background-color: $color-9;
        }

        &-10 {
            background-color: $color-10;
        }

        &-11 {
            background-color: $color-11;
        }
    }

    &:hover {
        background: $color-3;
    }
}

.row {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
    margin-left: 50px;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
